Business & Neighborhood Services
1200 Madison Ave, Suite 100
Indianapolis, Indiana 46225
Phone: (317) 327-1291
Email: Contractors@indy.gov

ELECTRICAL, HEATING & COOLING, AND WRECKING LICENSE REQUIREMENTS:
GENERAL INFORMATION:
Please submit all documentation required for the filing status in which you are applying. The names on all documentation (application,
certificate of insurance, bond, and workman’s compensation) must read exactly the same. This License will be renewable every two (2) years
after the December 31st expiration date.
License Holders and Corporations/LLC’s have separate fees and each must fill out a separate application:
LICENSE FEES New Business: (2 yrs-18 mths remaining) $247.00; (18 mths-1 yr remaining) $185.00; (Less than a year) $124.00
New Individual: (2 yrs-18 mths remaining) $377.00; (18 mths-1 yr remaining) $283.00; (Less than a year) $189.00
Renewals - Business & Individual: $247.00 Each
Agents: 1-5 agents no charge, 6 or more agents $63.00 each
-Make checks payable to “The City of Indianapolis”
LICENSE REQUIREMENTS:
Sole Proprietors: Insured/principal should be listed as the “Sole Proprietor DBA (doing business as) the Business Name”
Partnerships: Insured/principal should be listed as the “Partners DBA (doing business as) the Partnership Name.
DBA’s that do not include the surname of the proprietor or partner, must register in the county in which the business originates. Proof of the
DBA registration must be submitted with this application. If the county does not record DBA’s the contractor should submit a letter stating the
county policy. For DBA’s located in Marion County, contact the Marion County Recorders Office at (317) 327-4020.
Corporations/LLCs: Must register with the Indiana Secretary of State at (317) 232-6576 or www.in.gov/sos.
APPLICATION
-Must have dated signature of sole proprietor, partner, or officer of the corporation (attesting that information is complete and accurate)
-Must list at least one license holder authorized to obtain permits -May list other agents authorized to obtain permits
 GENERAL LIABILITY INSURANCE CERTIFICATE
Must have a certificate of insurance with:
 Minimum of $500,000 for each occurrence of death or bodily
injury
 Minimum of $100,000 for each occurrence of property
damage.
 OR Combined single limit coverage which covers both bodily
injury and property damage, minimum of $500,000 per
occurrence
Must indicate the policy number or “Binder”
Must identify the effective and expiration dates of the coverage
Must name the sole proprietor, partnership, or corporation as the
insured
Must indicate coverage for “Electrician”, “Heating & Cooling Work”, or
“Wrecking”
Must not limit coverage to a single job or address
Must name the “Consolidated City of Indianapolis” as Additional
Insured with endorsement ISO CG2036 0413 or equivalent.
Must provide any endorsement referenced on the certificate.
Must not require a written contract for additional insured
Must list the City of Indianapolis as Certificate Holder with
address
Must notify the Department, in writing, at least 15 days prior to
cancellation.
• SURETY BOND OR BOND CONTINUATION CERTIFICATE
Must be type-written. Hand-written bonds will not be accepted.
Must show the bond number
Must list the name, address, and phone number of the bonding
company & insurance agent
Must be in the amount of:
 $10,000 for Electrical Contractor
 $5,000 for Heating & Cooling Contractor
 $30,000 for Wrecking Type A Contractor
 $20,000 for Wrecking Type B Contractor
 $10,000 for Wrecking Type C Contractor
Must name the “Consolidated City of Indianapolis and/or an
Unknown Third Party” as Obligee
Must indicate coverage for an Electrical Contractor, Heating/Cooling
Contractor, or Wrecking Contractor
Must be signed by the principal (If partnership, all partners must sign)
Must have the expiration date of 12/31/2017

 WORKMAN’S COMPENSATION INSURANCE
Corporations: Due to the nature of a corporation, the
owner/principal becomes an employee of the corporation
(including Sub-S Corporations). By Indiana State Law they are
required to carry workman’s compensation coverage – at least
covering the owner/principal.
Must carry Workman’s Compensation Insurance for workers
employed in Indianapolis/Marion County
Must identify the effective and expiration dates of coverage
Must indicate the policy number or “Binder” (a binder is only valid
for 30 days from date of issuance)
If You Do NOT Have Employees:
Must complete the Workman’s Compensation Exemption
Certificate Clearance waiver. (317) 232-5977 or www.in.gov/WCB.
Limited Liability Companies, Partnerships and Sole
Proprietors:
Must carry Workman’s Compensation Insurance for workers
employed in Indianapolis
Must identify the effective and expiration dates of coverage
Must indicate the policy number or “Binder” (a binder is only valid
for 30 days from date of issuance)
If you do NOT have employees:
Must complete the Workman’s Compensation waiver on the
application

12/2016

